@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica";
}


@layer components {
  .nav {
    @apply sticky top-0 flex items-center justify-start w-full h-20 bg-white shadow-sm lg:pl-32;
  }
  .link {
    @apply inline-block lg:p-4 lg:m-4 p-1 m-1 text-sm lg:text-[16px] rounded hover:text-orange-400;
  }
  .filter {
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    padding: 2.5rem;
    padding-right: 0;
    width: 25%;
  }
  .products {
    @apply lg:w-[75%] w-full flex flex-wrap items-center justify-center p-2 lg:p-10;
  }
  .product {
    @apply flex flex-col items-center p-2 m-3 transition duration-200 bg-white w-36 md:w-44 lg:w-48 xl:w-52 hover:scale-105 hover:cursor-pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
  .container {
    height: calc(100vh - 80px);
    background-color: rgb(243 244 246)
  }
  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}